<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700"
          >Тикер</label
        >
        <div class="mt-1 relative rounded-md shadow-md">
          <input
            v-model="ticker"
            @keydown.enter="addTicker"
            @input="changeTicker"
            type="text"
            name="wallet"
            id="wallet"
            class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
            placeholder="Например DOGE"
          />
        </div>
        <div
          v-if="tips.length"
          class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap"
        >
          <span
            v-for="tip of tips"
            :key="tip.Symbol"
            @click="clickTip(tip.Symbol)"
            class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer"
          >
            {{ tip.Symbol }}
          </span>
        </div>
        <div v-if="error" class="text-sm text-red-600">
          Такой тикер уже добавлен
        </div>
      </div>
    </div>
    <add-button @click.stop="addTicker" class="my-4" />
  </section>
</template>

<script>
import addButton from "./AddButton.vue";

export default {
  components: {
    addButton
  },

  props: {
    tickers: {
      type: Array,
      default() {
        return [];
      },
      requied: false
    },
    coinlist: {
      type: Array,
      default() {
        return [];
      },
      requied: false
    }
  },

  emmits: {
    "add-ticker": value => typeof value === "string"
  },

  data() {
    return {
      ticker: "",
      tips: [],
      error: false
    };
  },

  methods: {
    addTicker() {
      if (!this.ticker) {
        return;
      }
      if (
        this.tickers.find(
          t => t.name.toUpperCase() == this.ticker.toUpperCase()
        )
      ) {
        this.error = true;
        return;
      }

      this.error = false;

      this.$emit("add-ticker", this.ticker);
      this.ticker = "";
      this.tips = [];
    },

    clickTip(tickerName) {
      this.ticker = tickerName;
      this.$emit("add-ticker", this.ticker);
    },

    changeTicker() {
      this.error = false;
      const tickerName = this.ticker.toUpperCase();
      let findTips = this.coinlist.filter(
        item =>
          (tickerName != "") &
          (item.Symbol.toUpperCase().includes(tickerName) ||
            item.FullName.toUpperCase().includes(tickerName))
      );
      findTips.sort();
      if (findTips.length > 4) {
        findTips = findTips.splice(1, 4);
      }
      this.tips = findTips;
    }
  }
};
</script>
