<template>
  <section v-if="selectedTicker != null" class="relative">
    <h3 class="text-lg leading-6 font-medium text-gray-900 my-8">
      VUE - USD
    </h3>
    <div
      ref="graph"
      class="flex items-end border-gray-600 border-b border-l h-64"
    >
      <div
        v-for="(bar, idx) in normalizedGraph"
        :key="idx"
        :style="{ height: `${bar}%`, width: `${$options.graphWidth}px` }"
        class="bg-purple-800 border w-10"
      ></div>
    </div>
    <close-button @close-btn="closeBtn" class="absolute top-0 right-0" />
  </section>
</template>

<script>
import closeButton from "./CloseButton.vue";

export default {
  //$options
  graphWidth: 38,

  components: {
    closeButton
  },

  props: {
    graph: {
      type: Array,
      default() {
        return [];
      },
      requied: false
    },
    selectedTicker: {
      type: Object,
      default() {
        return {};
      },
      requied: false
    }
  },

  emmits: {
    "clear-grahp": value => value === null
  },

  data() {
    return {
      maxGraphElem: 1
    };
  },

  mounted() {
    window.addEventListener("resize", this.calcGraphElems);
  },

  unmounted() {
    window.removeEventListener("resize", this.calcGraphElems);
  },

  computed: {
    graphElements() {
      return this.graph.slice(-this.maxGraphElem);
    },

    normalizedGraph() {
      const maxValue = Math.max(...this.graphElements);
      const minValue = Math.min(...this.graphElements);

      if (minValue === maxValue) {
        return this.graphElements.map(() => 50);
      }

      return this.graphElements.map(
        price => 5 + ((price - minValue) * 95) / (maxValue - minValue)
      );
    }
  },

  methods: {
    calcGraphElems() {
      if (!this.$refs.graph) {
        return;
      }
      this.maxGraphElem =
        this.$refs.graph.clientWidth / this.$options.graphWidth;
    },

    closeBtn() {
      this.$emit("clear-grahp", null);
    }
  },

  watch: {
    selectedTicker() {
      this.$nextTick().then(this.calcGraphElems);
    }
  }
};
</script>
