<template>
  <div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
    <div
      v-if="loading"
      class="fixed w-100 h-100 opacity-80 bg-purple-800 inset-0 z-50 flex items-center justify-center"
    >
      <svg
        class="animate-spin -ml-1 mr-3 h-12 w-12 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </div>
    <div class="container">
      <add-ticker
        @add-ticker="addTicker"
        :coinlist="coinlist"
        :tickers="tickers"
      />
      <template v-if="tickers.length">
        <hr class="w-full border-t border-gray-600 my-4" />
        <div>
          <button
            v-if="page > 1"
            @click="page = page - 1"
            class="my-4 m-2 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
          >
            Назад
          </button>
          <button
            v-if="hasNextPage"
            @click="page = page + 1"
            class="my-4 m-2 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
          >
            Вперед
          </button>
          <div>Фильтр: <input v-model="filter" @input="page = 1" /></div>
        </div>
        <hr class="w-full border-t border-gray-600 my-4" />
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div
            v-for="tic in paginagedTickers"
            :key="tic.name"
            @click="select(tic)"
            :class="{
              'border-4': selectedTicker === tic,
              'bg-red-100': tic.hasError
            }"
            class="bg-white overflow-hidden shadow rounded-lg border-purple-800 border-solid cursor-pointer"
          >
            <div class="px-4 py-5 sm:p-6 text-center">
              <dt class="text-sm font-medium text-gray-500 truncate">
                {{ tic.name }} - USD
              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900">
                {{ formatPrice(tic.price) }}
              </dd>
            </div>
            <div class="w-full border-t border-gray-200"></div>
            <button
              @click.stop="removeTicker(tic)"
              class="flex items-center justify-center font-medium w-full bg-gray-100 px-4 py-4 sm:px-6 text-md text-gray-500 hover:text-gray-600 hover:bg-gray-200 hover:opacity-20 transition-all focus:outline-none"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="#718096"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                ></path></svg
              >Удалить
            </button>
          </div>
        </dl>
        <hr class="w-full border-t border-gray-600 my-4" />
      </template>

      <ticker-graph
        :graph="graph"
        :selectedTicker="selectedTicker"
        @clear-grahp="select"
      />
    </div>
  </div>
</template>

<script>
import { subscribeToTicker, unsubscribeFromTicker, loadCoins } from "./api";
import addTicker from "./components/AddTicker.vue";
import tickerGraph from "./components/TickerGraph.vue";

export default {
  name: "App",
  //$options
  tickerOnPage: 6,

  components: {
    addTicker,
    tickerGraph
  },

  data() {
    return {
      filter: "",

      tickers: [],
      selectedTicker: null,

      graph: [],
      coinlist: [],

      loading: false,

      page: 1
    };
  },

  created: async function() {
    this.loading = true;

    const coinsData = await loadCoins();
    const coins = [];
    Object.values(coinsData.Data).map(item =>
      coins.push({ Symbol: item.Symbol, FullName: item.FullName })
    );
    this.coinlist = coins;
    this.loading = false;

    const windowData = Object.fromEntries(
      new URL(window.location).searchParams.entries()
    );
    if (windowData.filter) {
      this.filter = windowData.filter;
    }
    if (windowData.page) {
      this.page = windowData.page;
    }

    const tickerList = localStorage.getItem("tickerList");
    if (tickerList) {
      this.tickers = JSON.parse(tickerList);
      this.tickers.forEach(ticker => {
        subscribeToTicker(ticker.name, (newPrice, hasError) =>
          this.updateTicker(ticker.name, newPrice, hasError)
        );
      });
    }
  },

  computed: {
    pageOptions() {
      return {
        page: this.page,
        filter: this.filter
      };
    },

    startIndex() {
      return (this.page - 1) * this.$options.tickerOnPage;
    },

    endIndex() {
      return this.page * this.$options.tickerOnPage;
    },

    hasNextPage() {
      return this.filterTickers.length > this.endIndex;
    },

    paginagedTickers() {
      return this.filterTickers.slice(this.startIndex, this.endIndex);
    },

    filterTickers() {
      return this.tickers.filter(tic =>
        tic.name.toUpperCase().includes(this.filter.toUpperCase())
      );
    }
  },

  methods: {
    updateTicker(tickerName, newPrice, hasError) {
      this.tickers
        .filter(ticker => ticker.name == tickerName)
        .forEach(tic => {
          if (tic === this.selectedTicker) {
            this.graph.push(newPrice);
          }
          tic.price = newPrice;
          tic.hasError = hasError;
        });
    },

    formatPrice(price) {
      if (price === "-") {
        return price;
      }
      price = Number(price);
      return price > 1 ? price.toFixed(2) : price.toPrecicion(2);
    },

    addTicker(ticker) {
      const curTicker = {
        name: ticker.toUpperCase(),
        price: "-",
        hasError: false
      };

      this.tickers = [...this.tickers, curTicker];

      subscribeToTicker(curTicker.name, (newPrice, hasError) =>
        this.updateTicker(curTicker.name, newPrice, hasError)
      );
    },

    select(tic) {
      this.selectedTicker = tic;
    },

    removeTicker(tickerToRemove) {
      this.tickers = this.tickers.filter(t => t !== tickerToRemove);

      if (tickerToRemove == this.selectedTicker) {
        this.selectedTicker = null;
      }
      unsubscribeFromTicker(tickerToRemove.name);
    }
  },

  watch: {
    selectedTicker() {
      this.graph = [];
    },

    tickers() {
      localStorage.setItem("tickerList", JSON.stringify(this.tickers));
    },

    paginagedTickers() {
      if (this.paginagedTickers.length == 0 && this.page > 1) {
        this.page -= 1;
      }
    },

    pageOptions(value) {
      window.history.pushState(
        null,
        document.title,
        `${window.location.pathname}?filter=${value.filter}&page=${value.page}`
      );
    }
  }
};
</script>
